/* ===== Root Variables ===== */
:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  /* Typography */
  --font-family-main: "Outfit", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-body: 15px;

  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--color-slate-300);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 1rem;
  padding-bottom: 2.5rem;
  border-radius: 1.25rem;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  max-width: 20rem;
  height: 31.1875rem;
  width: 100%;
  text-align: center;
  gap: 1.5rem;
}

.qr-image {
  width: 100%;
  border-radius: 0.625rem;
  display: block;
}

.text-content {
  display: flex;
  flex-direction: column;
  padding: 0px 1rem;
   gap: 1rem;
}

.qr-card h1 {
  color: var(--color-slate-900);
  font-size: 1.375rem;
  font-weight: var(--font-weight-bold);
  font-weight: bold;
  
 
}

.qr-card p {
  color: var(--color-slate-500);
  font-size: 0.9375rem;
  font-weight: var(--font-weight-regular);
  font-weight: var(--font-weight-regular);
}

.attribution { 
  position: absolute; 
  bottom: 1.25rem;
  font-size: 1.125rem; 
  text-align: center; 
  margin-block-start:1.25rem;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}