/* ===== Root Variables ===== */
:root {
  /* Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  /* Typography */
  --font-family-main: "Outfit", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-size-body: 15px;

  /* Layout */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  background-color: var(--color-slate-300);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.qr-card {
  background-color: var(--color-white);
  padding: 16px;
  border-radius: 20px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.05);
  max-width: 320px;
  width: 100%;
  text-align: center;
}

.qr-image {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.text-content {
  padding: 24px 12px;
}

.qr-card h1 {
  color: var(--color-slate-900);
  font-size: 22px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 16px;
  line-height: 1.2;
}

.qr-card p {
  color: var(--color-slate-500);
  font-size: 15px;
  font-weight: var(--font-weight-regular);
  line-height: 1.4;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin-top: 20px;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}