@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:wght@700&family=Lexend+Deca:wght@400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none
}


/* ===== Variables ===== */

:root {



    /* ===== Colors ===== */
    /* Primary */
    --clr-gold-500: hsl(31, 77%, 52%);
    --clr-cyan-800: hsl(184, 100%, 22%);
    --clr-green-950: hsl(179, 100%, 13%);

    /* Neutral */
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-gray-100: hsl(0, 0%, 95%);

    /* ===== Typography ===== */
    --fs-body: 15px;
    --fs-heading: 2.5rem;
    --card-padding: 3rem;

    /* Fonts */
    --ff-body: 'Lexend Deca', sans-serif;
    --ff-heading: 'Big Shoulders', sans-serif;
    --fw-body: 400;
    --fw-heading: 700;
}

/* ===== Google Fonts ===== */

/* ===== Reset ===== */


/* start of main */
main {
    width: 100%;
    min-height: 100dvh;
    padding: 0.5rem;
    margin: 0;
    display: grid;
    place-items: center;
    background-color: var(--clr-gray-100);


}
.sr-only {
    position: absolute;
    inset-inline-start: -10000px;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    white-space: nowrap;
    border: 0;
}

.container {
    width: 100%;
    max-width: 920px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    border-radius: 0.5rem;
    overflow: hidden;
    margin-block-start:1.5rem;



}

.card {
    display: flex;
    flex-direction: column;
    padding: clamp(1.5rem, 5vw, 3rem);
}

.card--sedans {
    background-color: var(--clr-gold-500);

}

.card--suvs {
    background-color: var(--clr-cyan-800);
}

.card--luxury {
    background-color: var(--clr-green-950);

}

.card figure {
    margin-block-end: 2.5rem;
    height: auto;
    width: fit-content;
}

.card figure img {
    width: 64px;
    height: auto;

}

.card__title {
    font-family: var(--ff-heading);
    font-weight: bold;
    font-size: var(--fs-heading);
    line-height: 1.2;
    color: var(--clr-gray-100);
    margin-block-end: 1.5rem;
}

.card__description {
    font-family: var(--ff-body);
    font-weight: var(--fw-body);
    font-size: var(--fs-body);
    line-height: 1.65;
    color: white;
    margin-block-end: 5rem
}

.card__button {
    width: fit-content;
    padding: 0.5rem 2rem;
    background-color: var(--clr-gray-100);
    border-radius: 1.5625rem;
    transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out,
        border-color 0.3s ease-in-out;
    border: 2px solid transparent;
    text-decoration: none;
}

.card--sedans .card__button {
    color: var(--clr-gold-500);
}

.card--suvs .card__button {
    color: var(--clr-cyan-800);
}

.card--luxury .card__button {
    color: var(--clr-green-950);
}

.card__button:hover {
    background-color: transparent;
    color: white;
    border: solid 2px white;

}

.card__button:focus {
    outline: black solid 3px;
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none;
    }
}

/* end of main */